In [7]:
a = "ashavasudevan"

In [2]:
print(a.split("a"))    -----## splitting fn 
print(a.split("a",1)) ------## skips the 1st "a" in the variable

['', 'sh', 'v', 'sudev', 'n']
['', 'shavasudevan']

In [3]:
print(a.replace("a", "s"))  ------ ## replace fn (replaces whole)
print(a.replace("a", "s",1)) ----- ## replace the 1st value

sshsvssudevsn
sshavasudevan

In [4]:
print(a.count("s")) ----- ## count fn > fetches the allocated values place 
print(a.count("a"))

2
4

In [11]:
a = "123"
b = 123

In [9]:
print(type(a)) ---- ## values comes in "" comes as string

<class 'str'>

In [10]:
print(type(b))

<class 'int'>

In [13]:
a = "123"
c = int(a) -----## converting string to integer
print(a)
print(type(a))

123
<class 'str'>

In [15]:
a = float(a)
b = float(a) ------- ## uses for deciamal fn
print(b)

123.0

In [26]:
a = [["arun", 28 ,"chennai"],["pranav","28","vadapalani"]]

In [27]:
## type , isinstance , min , max , sorted , length , reverse ---------- a = ["arun","28","chennai"]

In [41]:
a = ["arun", "28" ,"chennai"]

In [42]:
print(max(a))

chennai

In [43]:
print(min(a))

28

In [44]:
print(isinstance(a,str))

False

In [45]:
print(sorted(a))

['28', 'arun', 'chennai']

In [46]:
print(len(a))

3

In [47]:
print(isinstance(a,list))

True

In [51]:
print(a[0])  ------## fetches 1st value

arun

In [52]:
print(a)

['arun', '28', 'chennai']

In [54]:
a.append("test") -------  ## which adds values in last
print(a)

['arun', '28', 'chennai', 'test', 'test']

In [55]:
a.remove("test")  ------- ## which removes value
print(a)

['arun', '28', 'chennai', 'test']

In [56]:
del a[2] ------ ## deletes 2nd syntax
print(a)

['arun', '28', 'test']

In [1]:
a = "ashav@gmail.com"
## test
## gmail --- output

a = ["dinesh","chennai","tamilnadu"]
## find i

a = "Dhoni" ## find last letter without using reverse syntax

In [20]:
a = "ashav@gmail.com"
print(a.split("@"))

['ashav', 'gmail.com']

In [22]:
a = ["hi","hello","yes"]
b = a.pop()
print(a)
print(b)

['hi', 'hello']
yes

In [23]:
## shal low -----> shared memory

In [29]:
a = [1,2,3]
b = a
a.append(4)  ------> adds the values in last
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [25]:
## deep ------> direct memory

In [30]:
a = [1,2,3]
b = a.copy() -----> dosen't copy the values of a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3]

In [31]:
a = ["hi","hello","yes"]
print(a.index("hi"))

0

In [34]:
print(a.find("hi")) ------> In index find , rindex dosen't works

0

In [35]:
a = ("hi","hello","yes")
##  type , isinstance , min , max , sorted , a(0)

In [39]:
print(type(a))      --------
print(isinstance(a,str)) --------
print(max(a))         -------- 
print(a[0])     --------

<class 'tuple'>
False
yes
hi

In [46]:
print(min(a))
a[0] ------------------- difference btw list and tupple - tupple cannot be changed as like list
                        list is mutual and tupple is imutual

hello

'hi'

In [47]:
##  SET {} ------> which will remove duplicate 

a={1,2,3,1,2,3,1,2,3} ------------> set removes duplicates
print(a)

{1, 2, 3}

In [48]:
a = {1,2,3,1,2,3,1,2,3} 
b = {4,3,5,2,1}

In [51]:
print(a.union(b)) ------------- union the values of both a & b
print(a.intersection(b)) -------------  find the values of a & b
print(a.difference(b)) ------------- finds the difference a in b 
print(b.difference(a)) ------------- finds the difference b in a

{1, 2, 3, 4, 5}
{1, 2, 3}
set()
{4, 5}

In [52]:
a = {1,2,3}
b = {1,2,3,4,5}

In [55]:
print(a.issubset(b)) ------------ finds the subset value
print(b.issubset(a))
print(a.issuperset(b)) 
print(a.issuperset(b))
a.add(4)------> adding the value in a
a.remove(2) ------> remove ()

True
False
False
False